body {
    margin: 0;
    background-color: rgba(40, 220, 226, 0.788);
}

.container {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#flash {
    margin: 50px;
    width: 300px;
    height: 200px;
}

.flash_img {
    position: relative;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cf/Flag_of_Peru.svg");
    background-size: 300px 100%;
    width: 1px;
    height: 100%;
    display: inline-block;
    animation: wave 1s ease-in-out infinite alternate;
}

@keyframes wave {
    0% {
        top: 5%;
    }
    100% {
        top: -5%;
    }
}